{% extends 'purchase/main_purchases.html' %}
{% load crispy_forms_tags %}
{% block purchase_section %}

<div class="col-md-9 ml-0 border mb-2">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'purchase:detail' object.id %}">Общая информация</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'purchase:files' object.id %}">Прикрепленные файлы</a>
      </li>
    </ul>
    <div class="row">
        <div class="col text-right">
            Утверждаю <br>
            Директор ОБУ "Ледовая Арена "Трактор"<br>
            Телих Д.С.
        </div>
    </div>
    <div class="row">
        <div class="col text-center ">
            <h4> Заявка на осуществление закупки </h4>
        </div>
    </div>
    <div class="row">
        <div class="col text-center py-3">
            В связи с ___________ прошу разрешить закупку следующих товаров, работ (услуг)
        </div>
    </div>
    <div class="row">
        <div class="col border py-3">
            Наименование закупки
        </div>
        <div class="col border py-3">
            Описание товаров, работ, услуг:
        </div>
        <div class="col border py-3">
            Ориентировочная стоимость, руб:
        </div>
    </div>
    <div class="row">
        <div class="col border py-3">
            {{object.title}}
        </div>
        <div class="col border py-3">
            {{object.goods}}
        </div>
        <div class="col border text-right py-3">
            {{object.offer}}
        </div>
    </div>
    <div class="row">
        <div class="col border py-3">
            Вышеуказанные товары, работы (услуги), по результатам проведенного мониторинга цен, прошу приобрести у
            {{object.supplier}}
            по цене, не превышающей среднего уровня цен.
        </div>
    </div>
    <div class="row">
        <div class="col border py-2">
            Инициатор закупки <br>
            (Руководитель структурного подразделения)
        </div>
        <div class="col border text-right py-2">
            {{object.author}}
        </div>
    </div>
    <div class="row">
        <div class="col border text-right py-2">
            {{ object.last_action_date }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Этапы согласования</h4>
        </div>
    </div>

    {% for approve in purchase_approves%}
    <div class="row">
        <div class="col border">
            {{approve.approver.position}}
        </div>
        {% if approve.approver_choice %}
        <div class="col text-center border">
            {{ approve.approver_choice}}
        </div>
        {% else %}
        <div class="col text-center border">
            На согласовании
        </div>
        {% endif %}
        <div class="col text-right border">
            {{approve.approver.first_name}} {{ approve.approver.last_name }}
        </div>
    </div>
    {% endfor %}

    {% if object.author == user %}
    {% if object.status == '0' or object.status == '4'%}
    <hr>
    <div class="text-right">
        <a href="{% url 'purchase:purchase-delete' object.id %}" class="btn btn-outline-secondary"> Удалить заявку</a>
        <a href="{% url 'purchase:purchase-update' object.id %}" class="btn btn-outline-secondary"> Изменить заявку</a>
    </div>
    {% endif %}
    {% endif %}

</div>
{% for approve, approver_user in purchase_approves.items%}
{% if approver_user == user %}
<div class="form-group col-md-9 offset-2">
    <form class="form-inline col-md-7" action="{% url 'purchase:detail' object.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_table }}

        <p>
            <button type="submit" name="approve-btn" class="btn btn-outline-success mt-4 mr-4"> Согласовать</button>
        </p>
        <p>
            <button type="submit" name="reject-btn" class="btn btn-outline-danger mt-4"> Отклонить</button>
        </p>

    </form>
</div>
{% endif %}
{% endfor %}

{% if can_approve %}
<div class="form-group col-md-9 offset-2">
    <form class="form-inline col-md-7" action="{% url 'purchase:detail' object.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_table }}

        <p>
            <button type="submit" name="approve-btn" class="btn btn-outline-success mt-4 mr-4"> Согласовать</button>
        </p>
        <p>
            <button type="submit" name="reject-btn" class="btn btn-outline-danger mt-4"> Отклонить</button>
        </p>

    </form>
</div>
{% endif %}
{% endblock purchase_section %}

