{% extends 'purchase/main_purchases.html' %}
{% block purchase_section %}
    {% if purchase_list %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <a href="{% url 'purchase:purchase-add' %}" class="btn btn-sm btn-outline-secondary">Создать заявку на закупку</a>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                This week
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Закупка</th>
                          <th scope="col">Поставщик</th>
                          <th scope="col">Стоимость</th>
                          <th scope="col">Исполнитель</th>
                          <th scope="col">Дата</th>
                          <th scope="col">Статус</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for purchase in purchase_list %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td><a href="{% url 'purchase:detail' purchase.id %}">{{ purchase.title }}</a></td>
                          <td>{{ purchase.supplier }}</td>
                          <td>{{ purchase.offer }}</td>
                          <td>{{ purchase.author }}</td>
                          <td>{{ purchase.apply_date|date:"d.m.Y"}}</td>
                          <td>{{ purchase.get_status_display}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
            </table>
          </div>
        </main>

    {% else %}
      <p>No polls are available.</p>
    {% endif %}

{% endblock purchase_section %}
