{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'mysite/main.css' %}">
    <title> {{title}} </title>

  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded mb-5">
        <a class="navbar-brand" href="{% url 'main' %}">TRAKTOR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'main' %}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'purchase:index' %}"> Закупки <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Поиск" aria-label="Search">
          </form>
        </div>
        <div class="navbar-nav">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="btn btn-outline-secondary mr-2 ml-4">Профиль</a>
                <a href="{% url 'exit' %}" class="btn btn-outline-secondary mr-2">Выйти</a>
            {% else %}
                <a href="{% url 'reg' %}" class="btn btn-outline-secondary mr-2 ml-4">Регистрация</a>
                <a href="{% url 'login' %}" class="btn btn-outline-secondary mr-2">Войти</a>
            {% endif %}
        </div>
      </nav>
      <div class="container-fluid">
          {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
          {% endif %}

        {% block main_section %}
        {% endblock main_section %}

      </div>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
  </body>
</html>

