{% extends 'purchase/main_purchases.html' %}
{% load crispy_forms_tags %}
{% block purchase_section %}
    <div class="form-section col-md-9">
        <h2>Создать заявку на закупку</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
        <div class="file-form">
            {{ form_files|crispy }}
        </div>
        <div class="text-right">
            <button type="submit" value="save" name="save-btn" class="btn btn-outline-warning">Сохранить</button>
            <button type="submit" value="to-confirm" name="confirm-btn" class="btn btn-outline-warning">Отправить на согласование</button>
        </div>
        </form>

    </div>
    <script type="text/javascript">
         function getFile(){
           document.getElementById("upfile").click();
         }
         function sub(obj){
            var file = obj.value;
            var fileName = file.split("\\");
            document.getElementById("yourBtn").innerHTML = fileName[fileName.length-1];
            document.myForm.submit();
            event.preventDefault();
          }
    </script>
{% endblock purchase_section %}
