{% extends 'purchase/main_purchases.html' %}
{% block purchase_section %}

<div class="col-md-9 ml-0 border mb-2">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'purchase:detail' purchase%}">Общая информация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'purchase:files' purchase%}">Прикрепленные файлы </a>
          </li>
        </ul>
    {% for file in object_list%}
    <div class="col-md-9 mt-3">
        <div class="row">
        <div class="col-md-auto">
            {{ file.get_filename }}
        </div>
        <div class="col-3 text-right">
            <a href="{{file.file.url}}" target="_blank">Просмотреть</a>
            <a href="{{file.file.url}}" download>Скачать</a>
        </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock purchase_section %}