{% extends 'purchase/main_purchases.html' %}
{% block purchase_section %}
    <div class="form-section">
        <h2>Удалить заявку: "{{ object.title }}"?</h2>
        <form method="POST">
            {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Удалить</button>
        <a href="{% url 'purchase:detail' object.id %}">Отмена</a>
        </form>
    </div>
{% endblock purchase_section %}
