{% extends 'purchase/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
    <div class="form-section">
        <h3>Вы вышли из личного кабинета</h3>
        <a href="{% url 'login' %}">Войти в личный кабинет</a>
    </div>
{% endblock main_section %}