{% extends 'purchase/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
    <div class="form-section">
        <h2>Авторизация на сайте</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
        <button type="submit" class="btn btn-outline-warning">Войти</button>
        </form>

    </div>
{% endblock main_section %}