{% extends 'purchase/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
    <h2> Личный кабинет </h2>
    <div>Имя пользователя: {{ user.username }}    </div>

    <div class="media text-muted pt-3">
      <img src="{{ user.profile.img.url }}" class="mr-2 rounded" style="width: 70px; height: 70px;">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">{{ user.profile.last_name }} {{ user.profile.first_name }}</strong>
        <strong class="d-block text-gray-dark">{{ user.profile.position}}</strong>
        <strong class="d-block text-gray-dark">{{ user.email}}</strong>
      </p>
    </div>
    <div class="form-section mt-4">
        <h3 >Изменить данные пользователя</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_update|crispy }}
            {{ profile_update|crispy }}
        <div class="text-right pr-4"><button type="submit" class="btn btn-outline-warning "> Изменить </button></div>
        </form>
    </div>
{% endblock main_section %}