{% extends 'purchase/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
    <div class="form-section">
        <h2>Регистрация на сайте</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
        <button type="submit" class="btn btn-outline-warning">Зарегистрироваться</button>
        </form>
        <p>Уже зарегистрированы? <a href="{% url 'login' %}">Войти в личный кабинет</a></p>
    </div>
{% endblock main_section %}
